.menu_text{
    color: #fff;
}
.navbar {
    background-color: #000;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    padding: 5px;
}
.menu_base{
    padding: 10px;
    max-width: 90px;
    height: 30px;

    display: flex;
    cursor: pointer;
    transition: background-color .4s linear;
    align-items: center;
}
.menu_base:hover{
    background-color: rgb(47, 45, 45);
    border-radius: 5px;
}
.menu_base>.menu_text{
    padding: 0 20px 0 10px;
}
.menu_burger>span{
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 4px;
    background-color: white;
    content: "";
    transition: transform .3s linear, display .3s linear;
}

.menu_burger{
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}
.menu.active>.menu_base>.menu_burger{
    margin-top: 0;
}
.menu.active>.menu_base>.menu_burger>span:first-child{
    transform: rotateZ(-45deg) translateY(0px) translateX(0px);
}
.menu.active>.menu_base>.menu_burger>span:last-child{
    transform: rotateZ(45deg) translateY(-5px) translateX(-4px);
}
.menu.active>.menu_base>.menu_burger>span:nth-child(2){
    display: none;
}

.menu_modal{
    display: none;
    position: absolute;
    color: white;
    padding: 10px 20px;
    width: 20%;
    height: 100px;
    top: 65px;
    left: 0;
    background-color: #000;
    transition: display .4s linear;
}
.menu.active>.menu_modal{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.menu_modal_link{
    margin-bottom: 3px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    width: 100px;
    padding: 0 10px;
    border-radius: 3px;
    transition: background-color .6s linear, opacity .6s linear;
}
.menu_modal_link:hover{
    background-color: darkgoldenrod;
    opacity: .4;
}
.search>input{
    display: block;
    width: 35vw;
    padding: 5px 15px;
    font-size: 16px;
    margin-right: 40px;
}
.watchList{
    cursor: pointer;
    transition: background-color .4s linear;
    padding: 0 15px;
}
.watchList:hover{
    background-color: rgb(47, 45, 45);
    border-radius: 5px;
}
.signIn{
    cursor: pointer;
    transition: background-color .4s linear;
    margin-right: 40px;
    padding: 0 15px;
}
.signIn:hover{
    background-color: rgb(47, 45, 45);
    border-radius: 5px;
}
