.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.register{
    width: 40%;
    height: 80%;
    padding: 20px 30px;
    border: 1px solid rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register>label{
    font-weight: 800;
    margin-top: 10px;
}
.register>label:first-child{
    margin-top: 0;
}
.register>input{
    padding: 7px 10px;
    margin-top: 5px;
}
.register>button{
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(247, 210, 0);
    text-align: center;
    transition: opacity .4s linear;
    cursor: pointer;
}
.register>button:hover{
    opacity: .6;
}
.signIn{
    color: white;
    text-decoration: none;
}