.watchlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.element{
    width: 10%;
    margin: 20px 1%;
}
.image>img{
    width: 100%;
    height: auto;
}
.description {
    color: #fff;
    text-align: center;
    text-decoration: none;
}
@media  screen and (max-width: 800px) {
    .element{
        width: 20%;
    }
}
@media  screen and (max-width: 500px) {
    .element{
        width: 40%;
    }
}